
html, body {
  padding: 0 0 0 0;
  margin-left: 60px;
  margin-right: 60px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Helvetica";
  float: center;
  background-color: black;
}

h1,h2,h3,h4 {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  }


a {
  color: white;
}

.header {
  background: black;
  color: white;
  height: 260px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
}

.header h1 {
  font-size: 36px;
  }

.assignment {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Times New Roman', Times, serif;
  padding: 20px 20px 20px 40px;
  width: 250px;
  height: 350px;
  float: left;
}

.assignment a {
    color: white;
    text-decoration: none;
}

.assignment a:hover {
  background: #0000F5;
  color: #0000F5;
  text-decoration: none;
}


.footer {
    width: 1100px;
    float: left;
    padding: 300px 0px 30px 30px;
    margin-bottom: 120px;
}

.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}

.widebody a:hover {
  background: #0000F5;
  color: #FFF;
  text-decoration: none;
}

