
html, body {
  padding: 0 0 0 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Helvetica";
  color: #e0e0e0;
  line-height: 1.4;
  float: center;
  background-color: #121212;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}


.footer {
  margin-top: auto;
  text-align: center;
  color:#e0e0e0;
}

.navigation {
  background: #121212;
  color: #e0e0e0;
  height: 80px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 40px;
}

h1,h2,h3,h4 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  color: #e0e0e0;
  }


a {
  color: #e0e0e0;
}

.header {
  background: #121212;
  color: #e0e0e0;
  height: 180px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
}

.header h1 {
  font-size: 36px;
  }

.content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #e0e0e0;
  margin: auto;
}

.content {
  height: auto;
}

.assignment {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica';
  font-weight: 400;
  padding: 20px 20px 20px 40px;
  width: 250px;
  height: 280px;
  float: left;
  color: #e0e0e0;
}

.assignment a {
    color: white;
    text-decoration: none;
}

.assignment a:hover {
  background: #0000F5;
  color: #0000F5;
  text-decoration: none;
} 

.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}

.widebody a:hover {
  background: #0000F5;
  color: #e0e0e0;
  text-decoration: none;
}

.row {
  float: center;
}

